{% extends 'index.html' %}

{% block content %}
<div class="col-md-4 col-md-offset-4 place">

    <form id="register-form" class="form-signin" action="{% url 'login' %}" method="post">
        <h2 class="form-signin-heading">用户登录</h2>
        <p class="text-danger">{{ login_message }}</p>
        <label for="username" class="sr-only">用户名</label>
        <input id="username" name="username" class="form-control" placeholder="请输入用户名" autofocus type="text"><br>
        <label for="password" class="sr-only">密码</label>
        <input id="password" name="password" class="form-control" placeholder="请输入密码" type="password"><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

    </form>

</div> <!-- /container -->
{% endblock %}
{% block manager_register_login_options_js %}
<script src="/static/js/jquery.validate.js"></script>
<script type="text/javascript">
    $().ready(function(){
        $("#register-form").validate({
            rules:{
                username: {
                    required:true
                },
                password:{
                    required:true
                }
            },
            messages:{
                username: {
                    required: "请输入用户名"
                },
                password:{
                    required: "请输入密码"
                }
            }
        });
    });

</script>
{% endblock %}

